# Disabled since this I think this actually makes the home directory repo more dangerous, since I have to append --force every time I add something with git
# # Ignore everything by default
# *
# !.gitignore

.config-repo

# Ignore SSH key that we really don't want to commit
.config/git/ssh-key
.ssh
