<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="python" version="3.12.3"/>
	<package id="nanazip" version="2.0.450.0"/>
	<package id="anki" version="24.04.1"/>
	<package id="everything" version="1.4.11024"/>
	<package id="ffmpeg" version="7.0.0"/>
	<package id="git.install" version="2.45.1"/>
	<package id="gh" version="2.49.2"/>
	<package id="miktex.install" version="24.4.0"/>
	<package id="neovim" version="0.10.0"/>
	<package id="foobar2000" version="2.1.5"/>
	<package id="putty.install" version="0.81.0"/>
	<package id="sumatrapdf.install" version="3.5.2"/>
	<package id="sysinternals" version="2024.2.13"/>
	<package id="hwinfo.install" version="8.0.0"/>
	<package id="vscode.install" version="1.89.1"/>
	<package id="windirstat" version="1.1.2.20161210"/>
	<package id="firefox" version="126.0.0"/>
	<package id="zoom" version="6.0.4.38135"/>
	<package id="vlc" version="3.0.20"/>
	<package id="openssh" version="8.0.0.1"/>
	<package id="autohotkey.portable" version="2.0.15"/>
	<package id="gimp" version="2.10.38"/>
	<package id="spotify" version="1.2.37.701"/>
	<package id="chocolateygui" version="2.1.1"/>
	<package id="powertoys" version="0.80.1"/>
	<package id="audacity" version="3.5.1"/>
	<package id="crystaldiskinfo" version="9.3.0"/>
	<package id="bitwarden" version="2024.4.3"/>
	<package id="bitwarden-cli" version="2024.4.1"/>
</packages>